// fonts
$font-bold: 'Montserrat-Bold', sans-serif;
$font-semiBold: 'Montserrat-SemiBold', sans-serif;
$font-medium: 'Montserrat-Medium', sans-serif;
$font-reg: 'Open Sans', sans-serif;

// text's colors
$color-white: #f4f1f1;
$color-black: #0f0f0f;
$color-gray: #363636;
